.bg-my-red-light {
    background-color: #ab3131;
}

.bg-my-yellow {
    background-color: #ede0a6;
}

.bg-my-green-light {
    background-color: #799163;
}

.bg-my-green {
    background-color: #507b58;
}

